<div id="triangle">
  <div class="part">
    <div class="plane">
      <div class="cube left-top">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube left">
        <div class="face x"></div>
        <div class="face y"></div>
      </div>
      <div class="cube left">
        <div class="face x"></div>
        <div class="face y"></div>
      </div>
    </div>
  </div>
  <div class="part">
    <div class="plane">
      <div class="cube left-top"></div>
      <div class="cube left"></div>
      <div class="cube left"></div>
      <div class="cube left">
        <div class="face x"></div>
        <div class="face y"></div>
      </div>
      <div class="cube left">
        <div class="face x"></div>
        <div class="face y"></div>
      </div>
      <div class="cube left-bottom">
        <div class="face x"></div>
        <div class="face y"></div>
      </div>
      <div class="cube bottom">
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube bottom">
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube bottom">
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube bottom">
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube bottom-top">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube top">
        <div class="face x"></div>
        <div class="face z"></div>
      </div>
      <div class="cube top">
        <div class="face x"></div>
        <div class="face z"></div>
      </div>
      <div class="cube top">
        <div class="face x"></div>
        <div class="face z"></div>
      </div>
      <div class="cube top">
        <div class="face x"></div>
        <div class="face z"></div>
      </div>
    </div>
  </div>
</div>
